<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "万门大学" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid fixed">
        <nav class="top-bar" data-topbar>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="/courses">课程列表</a></li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="/">万门大学</a></li>
                </ul>
            </section>
        </nav>
    </div>

    <%= yield %>

    <div class="footer">
        <div class="row">
            <div class="medium-4 medium-4 push-8 columns">
            </div>
            <div class="medium-8 medium-8 pull-4 columns">
                <ul class="zurb-links">
                    <li><a href="/about">关于万门</a></li>
                </ul>
                <p class="copyright">© 2012-2013 wanmen.org, All rights reserved.</p>
            </div>
        </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
